*,
*::after,
*::before{
  box-sizing: border-box;
}


  @font-face {
	font-family: 'Gilroy'; 
	src: url('../fonts/gilroy-medium-webfont.woff') format('woff'),
		url('../fonts/gilroy-medium-webfont.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
}

  @font-face {
	font-family: 'Gilroy'; 
	src: url('../fonts/gilroy-semibold-webfont.woff') format('woff'),
		url('../fonts/gilroy-semibold-webfont.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
}

  @font-face {
	font-family: 'Gilroy'; 
	src: url('../fonts/gilroy-bold-webfont.woff') format('woff'),
		url('../fonts/gilroy-bold-webfont.woff2') format('woff2'); 
		font-weight: 700;
		font-style: normal;
}



body{

}

.opacity {
	opacity: 50%;
}

.wrap {
	width: 320px;
	background-color: #F5F5F5;
	color: #252525;
}

.header-wrap {
	width: 320px;
	padding:  16px 20px 16px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-name {
	width: 113px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 18px;
	height: 25px;
}

h1 {
	font-size: 17px;
}

.call-menu {
	width: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



h1, h2, h3, h4, h5, h6 {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
		display: flex;
	justify-content: center;
	align-items: center;

}

/* ============== main ===================*/

.main {
	width: 320px;
	height: 514px;
	background-color: #23A9B1;
	padding: 45px 20px 0;

}

h2 {
	font-size: 22px;
	margin: 0 31px 18px;
}

.main-text {
	width: 220px;
	margin: 0 auto;
}

.street-name {
	width: 188px;
	height: 48px;
	border-style: none;
	border-radius: 4%;
	padding-left: 16px;
	outline: 0;
}

.home-numb {
	width: 82px;
	height: 48px;
	border-style: none;
	border-radius: 4%;
	padding-left: 16px;
	outline: 0;
}

.street-but {
	width: 280px;
	height: 48px;
	background-color: #FF312C;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: none;
	border-radius: 4%;
	margin-bottom: 24px;
}

.home-services {
	width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 26px 0 14px;
}

.not-found {
	font-size: 13px;
	margin: 24px 0 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.enumeration {
	width: 198px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;

}

.enumeration-text {
	font-size: 13px;
	line-height: 20px;
}


.first:before {
	content: url("../image/cloud.svg");
	width: 100%;
	margin-right: 12px;
}

.second:before {
	content: url("../image/home.svg");
	width: 100%;
	margin-right: 12px;
}

.third:before {
	content: url("../image/people.svg");
	width: 100%;
	margin-right: 12px;
}


/*==================== services ========================*/

.services {
	width: 280px;
	border: 1px solid #fff;
	border-radius: 8%;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	top: -48px;
}

h3 {
	margin: 22px 0 16px;
}

.boxes {
	width: 236px;
	margin: 0 auto;

}

.box {
	border: 1px solid #252525;
	width: 236px;
	height: 42px;
	border-radius: 4%;
	margin-bottom: 14px;
	padding-left: 17px;
	line-height: 42px;
		display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.box:last-child {
	margin-bottom: 22px;
}

.box p {

}

.plus {
	color: #E2000A;
	font-weight: bolder;
	font-size: 24px;
	margin-right: 14px;
	text-decoration: none;
}

/* ================== Telekom ========================*/

.card {
	width: 280px;
	border-radius: 8%;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 22px;
	padding: 32px 22px 30px;
	font-size: 14px;
}

.technologies {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tech-text {
	font-size: 18px;
	font-weight: 600;
	margin: ;
}

.tech-text:before {
	content: url(../image/technolog.png);
	width: 40px;
	height: 40px;
	margin: 0 16px 0 12px;
}

.speed {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 25px 0 18px;
	border-bottom: 1px solid #252525;
	width: 236px;
	border-bottom-color: rgba(0,0,0,0.2);
}

/*.speed-text:before {
	content: url(../image/wifi.svg);
	width: 40px;
	height: 40px;
	margin-right: 12px;
}*/

.speed-logo {
	width: 24px;
	height: 24px;
	background-image: url('../image/wifi.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 16px 0 12px;
}



.speed-text-second, .chanal-text-second {
	margin: 8px 0 18px;
}

.speed-text span, .chanal-text span {
	font-size: 24px;
	font-weight: 600;
}

.chanals {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 18px 0 18px;
	border-bottom: 1px solid #252525;
	width: 236px;
	border-bottom-color: rgba(0,0,0,0.2);
}

.chanal-logo {
	width: 20px;
	height: 24px;
	background-image: url(../image/chanals.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 16px 0 12px;
}

.price {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.price890 {
	font-size: 38px;
	font-weight: 600;
}

.dolar {
	border-bottom: 1px solid #252525;
	width: 36px;
}

.promotion {
    text-align: center;
	margin: 10px 0 22px;
}

.card-button {
	width: 236px;
	height: 48px;
	background-color: #FF312C;
	color: #fff;
	border-radius: 4%;
	border-style: none;
	margin-bottom: 16px;
	font-weight: 700;
}

.more-info {
	text-align: center;
}