@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wugo5n');
  src:  url('fonts/icomoon.eot?wugo5n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wugo5n') format('truetype'),
    url('fonts/icomoon.woff?wugo5n') format('woff'),
    url('fonts/icomoon.svg?wugo5n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
  color: #23a9b1;
}
.icon-pin:before {
  content: "\e901";
  color: #23a9b1;
}
.icon-wifi:before {
  content: "\e902";
  color: #ff312c;
}
.icon-phone-box:before {
  content: "\e903";
  color: #ff312c;
}
.icon-pin-logo .path1:before {
  content: "\e904";
  color: rgb(255, 49, 44);
}
.icon-pin-logo .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 49, 44);
  opacity: 0.3;
}
.icon-pin-logo .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 49, 44);
  opacity: 0.5;
}
.icon-menu:before {
  content: "\e907";
}
.icon-object_48:before {
  content: "\e908";
  color: #ff312c;
}
.icon-phone-receiver:before {
  content: "\e909";
  color: #ff312c;
}
.icon-phone-set:before {
  content: "\e90a";
  color: #23a9b1;
}
.icon-router:before {
  content: "\e90b";
  color: #ff312c;
}
.icon-schedule:before {
  content: "\e90c";
  color: #23a9b1;
}
.icon-tv-box:before {
  content: "\e90d";
  color: #ff312c;
}
